@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PTSans-Regular.woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PTSans-Bold.woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PTSansNarrow-Bold.woff2");
    font-display: swap;
}
ul, li {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background-color: white;
  }
.main-container {
    flex-grow: 1;
}
.main-index {
    background-image: url("../img/hero-bg.jpg");
    background-color: black;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.page-container {
    width: 940px;
    margin: 0 auto;
}
.page-header {
    background-color: #000000;
    color: white;
}

/* Navigation */
.navigation {
    display: flex;
    width: 940px;
    margin:0 auto;
}
.navigation-list {
    margin: 0;
    padding: 0;
    width: 440px;
}
.navigation-link {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}
.navigation-user {
    width: 250px;
    margin-left: auto;
}


/* Logo */
.logo {
    display: block;
    margin: 0 auto;
}
.navigation-logo {
    width: 140px;
    margin-right: 100px;
}

/* Advantages */
.advantages-list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.advantages-item {
    width: 277px;
}
.advantages-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.column-group {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #FBF7F4;
    color: #242424;
    background-image: url("../img/bg-pattern-column.png");
}

/* Services */
.services {
    text-transform: uppercase;
    width: 390px;
}
.service-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
}

.services-list {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.services-price {
    color: #AF7842;
}

/* Gallery */
.gallery-title {
    width: 390px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Contacts */
.contacts {
    width: 350px;
}
.contacts-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.contacts-address {
    font-style: normal;
}
.contacts-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AF7842;
}
.contacts-phone {
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

/* Appointment */
.appointment {
    width: 430px;
}
.appointment-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.appointment-form {
    color: #595959;
}
.form-label {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Page Footer */
.page-footer-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
}
.page-footer {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #242424;
    background-image: url("../img/bg-pattern-column.png");
}
.footer-contacts {
    width: 200px;
    margin-right: 130px;
}
.footer-social {
    margin-left: auto;
    max-width: 190px;
}
.page-footer-title {
    text-transform: uppercase;
}
.copyright-link {
    color: #DBB590;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}
.breadcrumbs-link {
    color: #242424;
}
.breadcrumbs-link .current {
    color: #595959;
}

/* Catalog */
.catalog-products {
    display: flex;
}
.catalog-right-column {
    width: 700px;
    display: flex;
    flex-direction: column;
}
/* Catalog Filter */
.catalog-filter {
    width: 220px;
    margin-right: 20px;
}
.catalog-filter-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}
.control {
    font-weight: 700;
    color: #242424;
    line-height: 22px;
}

/* Sorting */
.sorting-container {

}
.select-control {
    font-weight: 700;
}
.product-card-link {
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}
.product-card-price {
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #814B18;
}
.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

/* Pagination */
.pagination {
    display: flex;
}
.pagination-list {
    display: flex;
}